.wrapper {
  background-color: beer;
  margin-left: 1%;
  margin-right: 1%;
}

/*.container {
  margin-left: 1%;
}*/
body {
  font-family: 'Arial', cursive;
  /*height: 100%;*/
}

h3 {
  font-size: 1.2rem;
}

.line {
  height: 100px;
}

.queue {
  margin-bottom: 8px;
}

title {
  font-family: 'Lobster';
}

.center {
  align-content: center;
}
/*.sidebar {
    padding-left: 0;
    padding-right: 0;
}
.sidebar {
/*    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
s   border-right: 2px solid #eee;
    border-color: black;
}*/

.circle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	  /*width: 50%;
    height: 50%;*/
    /*margin: auto;
    /*margin-left: auto;
    margin-right: auto;*/
}

.loader {
  width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
  background-color: red;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
}

.btn {
  background-color: LightBlue;
  color: black;
}

p.btn.number {
  margin-bottom: 0;
}

li {
  padding-top: 6;
  padding-bottom: 6;
  margin-top: .5rem;
}

.btn:hover {
  background-color: LightSteelBlue;
  color: black;
}

h2 {
  margin-top: 0;
  font-size: 22px;
}

#Phones {
 overflow-y: auto;
}

.sidebar {
  overflow-y: auto;
  height: calc(99vh - 95px - 9px);
}

#data {
    height: max-content;
}

#in, #out {
  max-width: none;
}
