{% extends "base_generic.html" %}
{% block content %}

{% load static %}

<div class="row">
  <div class="formquery form-group sidebar sticky col-md-4">
    {% csrf_token %}
  {% for name, queue in queues %}
  <p class="btn queue btn-block" data={{ queue }}>{{ name }}({{ queue }})</p>
  {% endfor %}
  </div>
  <div class="col-md" id="result">

  </div>
</div>
<script src="https://code.jquery.com/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src={% url "MainJS" %}></script>

{% endblock %}
