{% extends "base_generic.html" %}
{% block content %}

{% load static %}

    <div class="row">
    <div class="col-md-3 sidebar sticky-top">
      {% if mynumber %}
      <ul class="navbar-nav mr-auto Phones">
        <li class="nav-item">
          <a href="#t{{ mynumber }}" data-toggle="collapse" data-target="#t{{ mynumber }}" data-parent="#Phones" class="btn btn-block btn-primary">{{ mynumber }}</a>
          {% csrf_token %}
        </li>
      {% endif %}
      {% for item in liitem %}
        <li class="nav-item">
          <a class="btn btn-block btn-primary" href="#t{{ item }}" data-toggle="collapse" data-parent="#Phones" >{{ item }}</a>
          {% csrf_token %}
        </li>
      {% endfor %}
      </ul>
      </div>
      <div controls id="data" class="col-md-9 row">
        <div class="col-md-12 sticky-top">
        <input type="text" name="" value="" class="form-control" id='filter'>
        </div>
        <div controls id="in" class="col-md-5 col">
        </div>
        <div controls id="out" class="col-md-5 col">
        </div>
    </div>
   </div>
   <script src="https://code.jquery.com/jquery.min.js" crossorigin="anonymous"></script>
   <script src={% url 'main.js' %}></script>
{% endblock %}
