{% extends "base_generic.html" %}
{% block content %}

{% load static %}

    <div class="row">
    <div class="col-md-10 center">
      <a class="btn btn-block btn-primary" href="ring/">Прослушивание звонков</a>
      <a class="btn btn-block btn-primary" href="search/">Поиск звонков</a>
      <a class="btn btn-block btn-primary" href="checkquery/">Проверить статус очередей</a>
      <a class="btn btn-block btn-primary" href="blackaster/">Перехват звонка</a>
    </div>
   </div>
   <script src="https://code.jquery.com/jquery.min.js" crossorigin="anonymous"></script>
   <script src="js/main.js"></script>
{% endblock %}
