{% extends "base_generic.html" %}
{% block content %}

{% load static %}

    <div class="row">
    <div class="col-md-4 center">
      <a class="btn btn-block btn-primary" href="ring/">Прослушивание записей</a>
      <a class="btn btn-block btn-primary" href="search/">Поиск звонков</a>
      <a class="btn btn-block btn-primary" href="checkquery/">Данные очереди</a>
      <a class="btn btn-block btn-primary" href="blackaster/">Подключиться к звонку</a>
      {% if is_vpn %}
      <a class="btn btn-block" href="report-vpn/">Отчет по удаленным подключениям</a>
      {% endif %}
      <a class="btn btn-block" href="iframes/queue-stats">Отчет по звонкам</a>
    </div>
    <div class="col-md-8">
      <img class="rounded float-right mr-2"  src="{% if request.is_secure %}HTTPS{% else %}HTTP{% endif %}://static.srvlk.ath.ru/{{ user.aduser.PathToPic }}" >
        <p>
          {{ user.aduser.Description }}
        </p>
    </div>
   </div>
   <script src="https://code.jquery.com/jquery.min.js" crossorigin="anonymous"></script>
   <script src="js/main.js"></script>
{% endblock %}
